# TODO_JU Dynamically build this file in install.sh (using variable install directory)
# TODO_JU `systemd-analyze security vsfh.service`
# https://www.redhat.com/sysadmin/systemd-secure-services
[Unit]
Description=Very Simple File Host

[Service]
Restart=always

WorkingDirectory=/usr/bin/vsfh
User=vsfh

# Remove old stuff, update image
ExecStartPre=-/usr/bin/vsfh/.venv/bin/python3 -m podman-compose down
ExecStartPre=-/usr/bin/vsfh/.venv/bin/python3 -m podman-compose rm -f
ExecStartPre=/usr/bin/vsfh/.venv/bin/python3 -m podman-compose pull

ExecStart=/usr/bin/vsfh/.venv/bin/python3 -m podman-compose up

ExecStop=/usr/bin/vsfh/.venv/bin/python3 -m podman-compose down

[Install]
WantedBy=multi-user.target