# TODO_JU `systemd-analyze security vsfh.service`
# https://www.redhat.com/sysadmin/systemd-secure-services
[Unit]
Description=Very Simple File Host

[Service]
Restart=always

WorkingDirectory=/usr/bin/vsfh
EnvironmentFile=/etc/vsfh/.env
User=vsfh

ExecStartPre=-/usr/bin/vsfh/.venv/bin/python3 -m podman-compose down

ExecStart=/usr/bin/vsfh/.venv/bin/python3 -m podman-compose up

ExecStop=/usr/bin/vsfh/.venv/bin/python3 -m podman-compose down

[Install]
WantedBy=multi-user.target