<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title><% preact.title %></title>
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="manifest" href="/site.webmanifest">
        <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
        <meta name="apple-mobile-web-app-title" content="VSFH">
        <meta name="application-name" content="VSFH">
        <meta name="msapplication-TileColor" content="#111111">
        <meta name="theme-color" content="#111111">
        <meta name="viewport" content="width=device-width" initial-scale="1">
        <meta name="description" content="Very Simple File Host">
        <link rel="apple-touch-icon" href="/assets/icons/apple-touch-icon.png">
        <% preact.headEnd %>
    </head>
    <body>
        <!-- TODO_JU Do I need any boilerplate css to stop white flashes, or a <noscript> tag? -->
        <% preact.bodyEnd %>
    </body>
</html>
