.tree-node {
    // Ensures that hover zone spans entire container width
    display: block;
}

// TODO_JU This much "!important" cannot be good
.show-on-node-hover {
    transition: opacity 100ms ease;
    opacity: 0 !important;
}

.tree-node:hover > a > .show-on-node-hover {
    opacity: 0.8 !important;
}

.tree-node:hover > a > .show-on-node-hover:hover {
    opacity: 1 !important;
}

.stuck-container .grid {
    // Prevents tree nodes showing through the sticky filter box and archive buttons
    background: #090909;
}
