.tree-node {
    // Ensures that hover zone spans entire container width
    display: block;
}

// TODO_JU This much "!important" cannot be good
.show-on-node-hover {
    transition: opacity 100ms ease;
    opacity: 0 !important;
}

.tree-node:hover > a > .show-on-node-hover {
    opacity: 0.8 !important;
}

.tree-node:hover > a > .show-on-node-hover:hover {
    opacity: 1 !important;
}

.stuck-container .grid {
    // Prevents tree nodes showing through the sticky filter box and archive buttons
    background: #090909;
}

.path {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.path:hover {
    white-space: pre-wrap;
}

.small.checkbox {
    display: inline-block;
    overflow: hidden;
    opacity: 0;
    transition: opacity 100ms ease;
    min-height: 1em;
    line-height: 1em;
    vertical-align: -1px;
}

.small.checkbox.checked {
    opacity: 1;
}

.tree-node:hover > .small.checkbox {
    opacity: 1;
}

.small.checkbox label::before {
    height: 1em;
    width: 1em;
}

.small.checkbox label::after {
    height: 1em;
    width: 14px;
    font-size: 0.85em;
}

.file-size {
    opacity: 0.7;
    font-size: 0.85em;
}

.directory-node {
    cursor: pointer;
}

.hash-anchor:target {
    font-weight: bold;
}

.hash-anchor:target::before {
    content: '\f101';
    font-family: 'Icons';
    color: #c91e27;
    padding-right: 0.3em;
}
